 /*----------
  fonts 
  ------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/*-------------------
   common style 
   -----------------*/

body{
   font-family: 'Poppins', sans-serif;
   margin: 0px;
}

 
/*-----------
 header style 
 ---------------*/
 header{
    margin: 80px;
 }
 nav li{
    list-style: none;
    margin-left: 30px;
    font-size: 15px;
 }
 nav {
    display: flex;
 }
 nav ul{
    display: flex;
    margin-left: 500px;
   
 }
 .heads{
    display: flex;
    transition-timing-function: ease;
    
 }
.heads:hover{
   width: 300px;
}
  
  button{
     background-color:#ed1c69ec ;
     border-radius: 41px;
     margin: 0 50px;
     padding: 10px 30px;
     color: white;
     border: none;
  }
  .head-title p{
  margin-right: 400px;
  }
  #name{
     font-size: 52px;
  }

 .heding-img{
    width: 440px;
    height: 417px;
    margin-right: 70px;
   
    
 }

 
 .fa-arrow-right{
    margin-left: 15px;
 }
 /* --------------
  section style 
  ----------------*/
  main{
     margin: 80px;
  }
  .container{
     background-color: rgb(245, 237, 237);
     margin-top: 200px;
     border-radius: 20px;
  }

  .section-title{
     text-align: center;
  }
 .collections{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: rgb(238, 226, 226);
  
 }
 .collection{
    background-color: white;
    padding: 20px;
    margin:15px;
    border-radius: 10px;
   
   
 }
 .price{
    font-size: 30px;
   
 }
 .fa-star{
    color: #FB8200;
    font-size: 10px;
  
 }
  .link{
    text-decoration: none;
    color: rgba(255, 0, 0, 0.898);
   margin-left: 1050px;
 }

/*---------------
 product discount section 
 ---------------------*/
 .detels h1{
    font-size: 50px;
    color: rgb(80, 31, 31);
 }
 .detels h3{
    font-size: 20px;
    color: rgb(43, 43, 252);
 }
 .detels h2{
    font-size: 60px;
    color: rgba(255, 0, 0, 0.755);
 }



 /*---------------
  footer 
  ------------*/
  footer{ 
     text-align: center;
     background-color:  #0A0826;
     color: white;
     padding: 20px;
     
  }
  .Social-network-icon i{
     
     margin-left: 15px;
  }
  footer h2{
     font-size: 24px;
     margin: 0;
  }
  footer h5{
     font-size: 14px;
     margin: 0;
  }

  /*---------------
   media query 
   ----------------*/


  /*--------------
   Mobile style
   -----------------*/
   @media only screen and (max-width:688px)  {
  .collections{
   
     grid-template-columns: repeat(1, 1fr);
     width: 100%;

  }
  .heads{
     flex-direction: column;
  }
}
 
/*-----------------
 tab style 
 -----------------*/

@media only screen and (min-width:689px) and (max-width:992px)  {
  .collections{
   
     grid-template-columns: repeat(2, 1fr);
     width: 100%;

  }
  .heads{
     flex-direction: column;
  }
  }
 